<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>채소</string>
		<key>image</key>
		<string>icon_category_0</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>친환경</string>
			<string>고구마·감자·당근</string>
			<string>시금치·쌈채소·나물</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>과일·견과·쌀</string>
		<key>image</key>
		<string>icon_category_1</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>친환경</string>
			<string>제철과일</string>
			<string>국산과일</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>수산·해산·건어물</string>
		<key>image</key>
		<string>icon_category_2</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>제철수산</string>
			<string>굴비·반건류</string>
			<string>오징어·낙지·문어</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>정육·계란</string>
		<key>image</key>
		<string>icon_category_3</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>국내산 소고기</string>
			<string>수입산 소고기</string>
			<string>돼지고기</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>국·반찬·메인요리</string>
		<key>image</key>
		<string>icon_category_4</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>국·탕·찌개</string>
			<string>밀키트·메인요리</string>
			<string>밑반찬</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>샐러드·간편식</string>
		<key>image</key>
		<string>icon_category_5</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>샐러드·닭가슴살</string>
			<string>도시락·밥류</string>
			<string>파스타·면류</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>면·양념·오일</string>
		<key>image</key>
		<string>icon_category_6</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>파스타·면류</string>
			<string>식초·소스·드레싱</string>
			<string>양념·액젓·장류</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>생수·음료·우유·커피</string>
		<key>image</key>
		<string>icon_category_7</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>생수·탄산수</string>
			<string>음료·주스</string>
			<string>우유·두유·요거트</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>간식·과자·떡</string>
		<key>image</key>
		<string>icon_category_8</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>과자·스낵·쿠키</string>
			<string>초콜릿·젤리·캔디</string>
			<string>떡·한과</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>베이커리·치즈·델리</string>
		<key>image</key>
		<string>icon_category_9</string>
		<key>subCategory</key>
		<array>
			<string>전체보기</string>
			<string>식빵·빵류</string>
			<string>잼·버터·스프레드</string>
			<string>케이크·파이·디저트</string>
		</array>
	</dict>
</array>
</plist>
