<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>이 상품 어때요?</string>
		<key>contentList</key>
		<array>
			<dict>
				<key>title</key>
				<string>[콜린스그린] 더 자몽 1000mL</string>
				<key>price</key>
				<string>16,600원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1465267181723l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[KF365] 아보카도 1개</string>
				<key>price</key>
				<string>2,108원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>15</integer>
				<key>originalPrice</key>
				<string>2,480원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1637936327133l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[존쿡 델리미트] 초리조 이베리코</string>
				<key>price</key>
				<string>10,855원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>9</integer>
				<key>originalPrice</key>
				<string>12,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1623141723820l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[김소영 아티장의 안단테] 그랑도르즈 까망베르 2종</string>
				<key>price</key>
				<string>11,900원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1477568051626l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[상하목장] 마시는 유기농 요구르트 (100mL X 5개)</string>
				<key>price</key>
				<string>2,160원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>10</integer>
				<key>originalPrice</key>
				<string>2,400원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1622166405389l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[오가니아] 호주산 유기농 목심 불고기용 300g (냉동)</string>
				<key>price</key>
				<string>14,790원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>7</integer>
				<key>originalPrice</key>
				<string>16,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1479720511684l0.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>놓치면 후회할 가격</string>
		<key>contentList</key>
		<array>
			<dict>
				<key>title</key>
				<string>[콜린스그린] 더 자몽 1000mL</string>
				<key>price</key>
				<string>16,600원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1465267181723l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[KF365] 아보카도 1개</string>
				<key>price</key>
				<string>2,108원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>15</integer>
				<key>originalPrice</key>
				<string>2,480원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1637936327133l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[존쿡 델리미트] 초리조 이베리코</string>
				<key>price</key>
				<string>10,855원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>9</integer>
				<key>originalPrice</key>
				<string>12,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1623141723820l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[김소영 아티장의 안단테] 그랑도르즈 까망베르 2종</string>
				<key>price</key>
				<string>11,900원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1477568051626l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[상하목장] 마시는 유기농 요구르트 (100mL X 5개)</string>
				<key>price</key>
				<string>2,160원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>10</integer>
				<key>originalPrice</key>
				<string>2,400원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1622166405389l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[오가니아] 호주산 유기농 목심 불고기용 300g (냉동)</string>
				<key>price</key>
				<string>14,790원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>7</integer>
				<key>originalPrice</key>
				<string>16,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1479720511684l0.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>인기 신상품 랭킹</string>
		<key>contentList</key>
		<array>
			<dict>
				<key>title</key>
				<string>[콜린스그린] 더 자몽 1000mL</string>
				<key>price</key>
				<string>16,600원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1465267181723l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[KF365] 아보카도 1개</string>
				<key>price</key>
				<string>2,108원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>15</integer>
				<key>originalPrice</key>
				<string>2,480원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1637936327133l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[존쿡 델리미트] 초리조 이베리코</string>
				<key>price</key>
				<string>10,855원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>9</integer>
				<key>originalPrice</key>
				<string>12,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1623141723820l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[김소영 아티장의 안단테] 그랑도르즈 까망베르 2종</string>
				<key>price</key>
				<string>11,900원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1477568051626l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[상하목장] 마시는 유기농 요구르트 (100mL X 5개)</string>
				<key>price</key>
				<string>2,160원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>10</integer>
				<key>originalPrice</key>
				<string>2,400원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1622166405389l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[오가니아] 호주산 유기농 목심 불고기용 300g (냉동)</string>
				<key>price</key>
				<string>14,790원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>7</integer>
				<key>originalPrice</key>
				<string>16,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1479720511684l0.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>지금 가장 핫한 상품</string>
		<key>contentList</key>
		<array>
			<dict>
				<key>title</key>
				<string>[콜린스그린] 더 자몽 1000mL</string>
				<key>price</key>
				<string>16,600원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1465267181723l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[KF365] 아보카도 1개</string>
				<key>price</key>
				<string>2,108원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>15</integer>
				<key>originalPrice</key>
				<string>2,480원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1637936327133l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[존쿡 델리미트] 초리조 이베리코</string>
				<key>price</key>
				<string>10,855원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>9</integer>
				<key>originalPrice</key>
				<string>12,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1623141723820l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[김소영 아티장의 안단테] 그랑도르즈 까망베르 2종</string>
				<key>price</key>
				<string>11,900원</string>
				<key>isDiscounted</key>
				<false/>
				<key>discountRate</key>
				<integer>0</integer>
				<key>originalPrice</key>
				<string></string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1477568051626l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[상하목장] 마시는 유기농 요구르트 (100mL X 5개)</string>
				<key>price</key>
				<string>2,160원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>10</integer>
				<key>originalPrice</key>
				<string>2,400원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1622166405389l0.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>[오가니아] 호주산 유기농 목심 불고기용 300g (냉동)</string>
				<key>price</key>
				<string>14,790원</string>
				<key>isDiscounted</key>
				<true/>
				<key>discountRate</key>
				<integer>7</integer>
				<key>originalPrice</key>
				<string>16,000원</string>
				<key>imageURL</key>
				<string>https://img-cf.kurly.com/shop/data/goods/1479720511684l0.jpg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
