<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageURL</key>
		<string>https://img-cf.kurly.com/banner/main/mobile/img/8ffe24d3-2a74-4a2d-8043-49363281dc57</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img-cf.kurly.com/banner/main/mobile/img/b631f7fe-f107-4d81-b3de-d6b5c9e886d1</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img-cf.kurly.com/banner/main/mobile/img/d653bab5-5483-47ed-a1c9-f4ae517ce764</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img-cf.kurly.com/banner/main/mobile/img/e683f626-9ad5-4092-a4ee-4d76b4f863dd</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img-cf.kurly.com/banner/main/mobile/img/5f2674a5-fb42-4881-96a8-6b80c9c9eb30</string>
	</dict>
</array>
</plist>
